<%- include('header'); %>
	<h1>Ajouter un utilisateur</h1>
	<form action="/medecins/add" method="POST">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="input-group fluid">
					<span class="tooltip" aria-label="Saisir un nom en majuscule"><label for="frmNom">Nom</label></span>
					<input type="text" name="nom" id="frmNom" placeholder="nom">
				</div>
				<div class="input-group fluid">
					<span class="tooltip" aria-label="Spécialité médicale"><label for="frmSpe">Spécialité</label></span>
					<input type="text" name="specialite" id="frmSpe" placeholder="spécialité">
				</div>
				<div class="input-group fluid">
					<label for="frmVille">Ville</label>
					<input type="text" name="ville" id="frmVille" placeholder="ville">
				</div>
				<div class="input-group fluid">
					<label for="frmCP">Code Postal</label>
					<input type="text" name="CP" id="frmCP" placeholder="5 chiffres">
				</div>
				<div class="input-group fluid">
					<label for="frmTel">Téléphone fixe</label>
					<input type="text" name="telephone" id="frmTel" placeholder="10 chiffres">
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="input-group fluid">
				<input type="submit" class="primary large" value="Ajouter"><br>
				</div>
			</div>
		</div>
	</form>
	<br>
	<% if (data.length> 0) {%>
		<h1>Liste des utilisateurs</h1>
		<div>
		<table class="border-fix">
			<thead>
				<tr>
					<th scope="col"> NOM </th>
					<th scope="col"> SPÉCIALITÉ </th>
					<th scope="col"> VILLE </th>
					<th scope="col"> CP </th>
					<th scope="col"> TÉLÉPHONE(S) </th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<% for(let i=0; i < data.length; i++) {%>
					<tr>
						<td>
							<%= data[i].nom%>
						</td>
						<td>
							<%= data[i].specialite%>
						</td>
						<td>
							<%= data[i].ville%>
						</td>
						<td>
							<%= data[i].CP%>
						</td>
						<td>
							Fixe: <%= data[i].telephone.fixe %><br>
							Mobile: <%= data[i].telephone.mobile %>
						</td>
						<td>
							<a href="/medecins/edit/<%= data[i]._id%>" class="button"><i class="far fa-edit"></i></a>
							<a href="/medecins/delete/<%= data[i]._id%>" class="button"><i class="fas fa-times"></i></a>
						</td>
					</tr>
					<% } %>
			</tbody>
		</table>
		</div>
		<% } %>
	<%- include('footer'); %>