<%- include('header'); %>
	<h1>Ajouter un utilisateur</h1>
	<form action="/medecins/add" method="POST">
		<div>
			<input type="text" name="nom" placeholder="nom">
			<input type="text" name="specialite" placeholder="spécialité">
			<input type="text" name="ville" placeholder="ville">
			<input type="text" name="CP" placeholder="5 chiffres">
			<input type="text" name="telephone" placeholder="10 chiffres">
			<input type="submit" value="Ajouter"><br>
		</div>
	</form>
	<br>
	<% if (data.length> 0) {%>
		<h1>Liste des utilisateurs</h1>
		<div>
		<table class="border-fix">
			<thead>
				<tr>
					<th scope="col"> NOM </th>
					<th scope="col"> SPÉCIALITÉ </th>
					<th scope="col"> VILLE </th>
					<th scope="col"> CP </th>
					<th scope="col"> TÉLÉPHOONE </th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i < data.length; i++) {%>
					<tr>
						<td>
							<%= data[i].nom%>
						</td>
						<td>
							<%= data[i].specialite%>
						</td>
						<td>
							<%= data[i].ville%>
						</td>
						<td>
							<%= data[i].CP%>
						</td>
						<td>
							<%= data[i].telephone%>
						</td>
						<td>
							<a href="/medecins/edit/<%= data[i]._id%>" class="button"><i class="far fa-edit"></i></a>
							<a href="/medecins/delete/<%= data[i]._id%>" class="button"><i class="fas fa-times"></i></a>
						</td>
					</tr>
					<% } %>
			</tbody>
		</table>
		</div>
		<% } %>
			<%- include('footer'); %>